<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	   					   http://www.springframework.org/schema/context
	   					   http://www.springframework.org/schema/context/spring-context-3.0.xsd
						   http://www.springframework.org/schema/tx
	   					   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	   					   http://www.springframework.org/schema/mvc
         				   http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd"
						   >

	<context:component-scan base-package="ru.poputi.controllers,ru.poputi.dao" />
	<mvc:annotation-driven />
	
	<!-- Define entityManagerFactory -->
    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="poputi_pers"/>
        <property name="loadTimeWeaver">
            <bean class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver"/>
        </property>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"
                  p:database="MYSQL"
                  p:showSql="false"
                  p:databasePlatform="org.hibernate.dialect.MySQLDialect"
                  p:generateDdl="true"/>
        </property>
    </bean>

    <!-- Add Transaction support -->
    <bean id="txManager"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

	<!-- On init bean -->
	<bean id="DBCreatorBean" init-method="init" class="ru.poputi.DBCreator"/>
	
	<!-- Application Context -->
    <bean class="ru.poputi.AppContext"/>
	
	<!-- Read from property files -->
	<bean id="poputiProps"
      class="org.springframework.beans.factory.config.PropertiesFactoryBean">
	  <property name="locations">
		<list>
		  <value>classpath*:cities.list</value>
		</list>
	  </property>
	  <property name="fileEncoding" value="UTF-8"/>
	</bean>

    <!-- Use @Transaction annotations for managing transactions -->
    <tx:annotation-driven transaction-manager="txManager"/>

</beans>